body {
    margin:0;
    background-color: bisque;
}

#logo_top {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 150px;
  overflow: hidden;
  background-color: #654EA3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
    float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    color: white;
}

li a:hover:not(.active) {
  background-color: rgb(70, 39, 156);
}

.active {
  background-color: #4CAF50;
}

#img_home {
    width: 30vw;
}

#row {
    top: 200px;
    position: relative;
}